---
import type { Render, RenderedContent } from 'astro:content';

interface Props {
  items: {
    id: string;
    render(): Render[".md"];
    slug: string;
    body: string;
    collection: "docs";
    data: {
      title: string;
      lang: string;
    };
    rendered?: RenderedContent;
    filePath?: string;
}[];
}

const { items } = Astro.props;
---

<ul>
  {
    items.map((entry) => (
      <li>
        <a href={`/${entry.slug}`}>{entry.data.title}</a>
      </li>
    ))
  }
</ul>
