---
const { props } = Astro;
import Icon from "../Icon.astro";
---

<div class="callout">
    <div class="flex content">
        <div class="flex icon column">
            <span class="icon">
                <Icon />
            </span>
        </div>
        <div class="flex column">
            <strong>{props.title}</strong>
            <slot />
        </div>
    </div>
</div>

<style>
    .flex {
        display: flex;
    }
    .column {
        flex-direction: column;
    }
    .callout {
        padding: 0.5rem 0 2rem;
    }
    .content {
        color: darkslategrey;
        background: lightgrey;
        border: 1px solid lightslategray;
        line-height: 20px;
        padding: 12px 20px;
        border-radius: 4px;
    }
    .icon {
        padding-right: 8px;
        align-items: center;
        width: 1em;
        height: 1rem;
        display: inline-block;
    }
    .callout :global(p:first-of-type) {
        padding: 0;
    }
</style>
